<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
</head>
<body>
    <img src="{{ url_for('static', filename='lmaoo.JPG') }}" alt="A photo of a F1 racecar">

    <h1>Brandon Bradshaw</h1>
    <p>I am from the small island of St. Kitts. My favourite sports are basketball and Formula 1 racing. My favourite basketball team is the Los Angeles Lakers and my favourite player is
        Kyrie Irving. Also, my favourite F1 team is Scuderia Ferrari and my favourite driver is Sir Lewis Hamilton.
    </p>
</body>
</html>